<p id="notice"></p>
<div class="container px-5 px-sm-0">
 <div class="row">
   <%= render 'books/list', user:@user,book:@book %>
  
  <div class="col-md-8 offset-md-1">
    <h2>Books</h2>
     <table class="table">
      <thead>
       <tr>
        <th colspan="1"></th>
        <th>Title</th>
        <th>Opinion</th>
       </tr>
      </thead>
      <tbody>
       <tr>
        <div class="row">
         <td>
          <%= link_to user_path(@user.id) do %>
        　<%= image_tag @user.get_profile_image(100,100) %>
      　   <% end %>
         </td>
         <td></td>
         <td><%= @book.body %></td>
        </div>
       </tr>
      </tbody>
     </table>
  </div>
 </div>
</div>

