<p id="notice"></p>
 <div class="container">
  <div class="row">
  <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
   <div class="title">
    <h1>welcome to
    <div class="item">
     <i class="fas fa-book"></i>
    </div>
     <strong>Bookers</strong> !! 
     </h1>
    </div>

  <p>In <i class="fas fa-book"></i>Bookers,</p>

  <p>you can share and exchange your opinions , inpressions ,</br>
     and emotions</br>
     about various books!</p>

   <div class="btn-wrapper col-10 mx-auto"></div>
    <div class="row"> 
     <%= link_to "Log in", new_user_session_path, class:'btn btn-sm btn-info btn-block mb-3' %>
    </div>
    <div class="row"> 
     <%= link_to "Sign up", new_user_registration_path, class:'btn btn-sm btn-success btn-block' %>
    </div>
   </div>
  </div>
 </div>
</div>

